.Nav
{
    display: flex;
   justify-content: space-between;
   margin-top: 20px;
   margin-bottom: 20px;
}

.Img_Icon
{
    position: absolute;
    top: 55px;
    left: 50px;
    padding-right: 100px;

}
.home
{   position: absolute;
    top: 55px;
    left: 700px;
    padding-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #39393393;

}
.home:hover
{
    color: black;
    font-size: medium;
}
.usecase
{
    position: absolute;
    top: 55px;
    left: 785px;
    padding-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #39393393;
}
.usecase:hover
{
    color: black;
    font-size: medium;
}
.DropDownComponents
{
    display: flex;
}
.Products:hover
{
    color: black;
    font-size: medium;
}
.Products
{
    position: absolute;
    top: 55px;
    left: 870px;
    padding-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #39393393;
}
.Devtools
{
    position: absolute;
    top: 55px;
    left: 945px;
    padding-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #39393393;

}
.Devtools:hover
{
    color: black;
    font-size: medium;
}
.Media
{
    position: absolute;
    top: 55px;
    left: 1025px;
    padding-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #39393393;

}
.Media:hover
{
    color: black;
    font-size: medium;
}
.Makhdoom
{
    position: absolute;
    top: 55px;
    left: 1085px;
    padding-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #39393393;
}
.Makhdoom:hover
{
    color: black;
    font-size: medium;
}
.Advisory
{
    position: absolute;
    top: 55px;
    left: 1180px;
    padding-left: 10px;
    font-size: 16px;
    font-family: sans-serif;
    color: #39393393;
    text-overflow: ellipsis;
}
.Advisory:hover
{
    color: black;
    font-size: medium;
}