.NewCard
{

    height: 110%;
    width: 1450px;
    box-sizing: border-box;
    border-color: #e5e7eb;
    position: absolute;
    top: 300px;
    --tw-bg-opacity: 1;
    background-color: rgb(252 252 252 / var(--tw-bg-opacity));
}

.HeadingStyle
{
    position: absolute;
    top: 250px;
    width: 500px;
    left: 250px;
    font-family: sans-serif;
    font-size: 45px;
    opacity: 10px;
    color: #343434;
}
.ParagraphStyle
{
    position: absolute;
    top: 500px;;
    left: 250px;
    color: #808080;
    width: 450px;
    font-size: larger;
}
.SpanText
{
    position: absolute;
    top: 620px;
    left: 260px;
    font-size: 30px;
    color: #FFC72C;;
    font-weight: bold;
}
.arrowimg
{
    position: absolute;
    left: 200px;
    top: 5px;

}
.Reg_link
{
    position: absolute;
    top: 690px;
    left:260px;
    color: #343434;
}
.ImageComponent
{
    position: absolute;
    top: 250px;
    left: 800px;
    width: 600px;
    height: 400px;
    
}