.makhdoom
{
    position: absolute;
    top: 2950px;
    --tw-bg-opacity: 1;
    width: 1450px;
    height: 500px;
    background-color: rgb(252 252 252 / var(--tw-bg-opacity));
}
.dec
{
    font-size: 35px;
    font-family: sans-serif;
    padding: 16px 0px;
    position: absolute;
    top: 195px;
    left: 100px;
    color: #393939;
}
.--box
{

    width: 368px;
    height: 350px;
    background-color: #E8AD3A;
    border-radius: 9px;
    position: absolute;
    right: 120px;;
    top: 120px;
}
.ul--list
{
    position: absolute;
    top: 25px;
    font-size: 18px;
}
.unorderedList
{
    line-height: 40px;
    color: white;
 
}
.unorderedList li 
{
    font-weight: normal;
    word-wrap:break-word;
    align-items: center;

}
.bold{
    font-weight: bold;
  }

